<% foo = @foos  %>
<br>
	<li class="list-group-item">student's name: <%=	foo.firstname + ' '+ foo.lastname %></li>
	<li class="list-group-item">student's birthday: <%=	foo.birthday %></li>
	<li class="list-group-item">student's address: <%=	foo.address %></li>
	<li class="list-group-item">student's age: <%=	foo.age %></li>
	<li class="list-group-item">student's id: <%=foo.id %></li>
<br>
<button class="btn btn-warning" onclick="location.href='/students/<%=foo.id%>/edit'">Edit</button>